nav {
  height: 15%;
  width: 100vw;
  background-color: #F1F1F2;
  padding: 30px;
}

#navigation-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-nav, #browse-nav, #dashboard-nav {
  width: 30px;
  height: 30px;
  padding: 10px;
  margin: 18px;
}
