#all-page {
  font-family: 'Open Sans', sans-serif;
}

.event-message {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 18px;
  margin: 20px 50px;
}

.search-bar {
  margin: 30px auto 20px;
  width: 200px;
}

#search-input {
  width: 200px;
  font-size: 20px;
  border: 2px solid #507DBC;
  padding: 10px;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
}
