.home-card {
  background-color: #F1F1F2;
  border-bottom: 2px solid #d3d7df;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  font-family: 'Open Sans', sans-serif;
  height: 275px;
  margin: 30px auto;
  position: relative;
  text-align: left;
  width: 375px;
}

.event-title {
  border-radius: 14px 14px 0 0;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  height: 30px;
  padding: 15px;
}

.R h3{
  background-color: #BA3233;
}

.D h3 {
  background-color: #507DBC;
}

.I h3 {
  background-color: #4F517D;
}

.rep-info {
  font-size: 18px;
  margin: 10px 15px 15px;
}

.rep-name {
  font-weight: bold;
  line-height: 1.5;
}

.time-date, .address-location{
  font-size: 16px;
  line-height: 1.2;
  margin: 0 0 0 10px;
}

.home-card label {
  background-color: #495867;
  color: #F1F1F2;
}

.address-location {
  margin-top: 10px;
}

.address-details, .date-details {
  display: inline-block;
}

.address-icon {
  background-image: url('../icons/checkin2.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.address-icon:hover {
  background-image: url('../icons/checkin-hover.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.calendar-icon {
  background-image: url('../icons/calendar-icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.calendar-icon:hover {
  background-image: url('../icons/calendar-icon-hover.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

 .address-icon, .calendar-icon {
   display: inline-block;
   height: 30px;
   padding: 2px 10px;
   vertical-align: top;
   width: 30px;
 }

 .address-location-name, .date-name {
   overflow-wrap: normal;
   overflow-wrap: break-word;
   width: 250px;
 }
