header {
  height: 15%;
  width: 100vw;
  background-color: #F1F1F2;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding: 20px 0;
  text-align: center;
  border-bottom: solid 3px #507DBC;
}

#name-first {
  color: #507DBC;
}

#name-second {
  color: #BA3233;
}

.sub-header {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #507DBC;
  font-family: 'Open Sans', sans-serif;
  margin: 20px;
}
