#home-page {
  font-family: 'Open Sans', sans-serif;
}

#home-page a {
  color: #507DBC;
  font-style: italic;
}
.home-summary, .tips-section {
  margin: 30px 50px;
}

.home-summary p {
    font-size: 20px;
}

#tips-header {
  color: #507DBC;
  font-size: 22px;
  font-weight: bold;
}

.tips-subheader {
  color: #507DBC;;
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
}

li::before {
  content: "•";
  color: black
}

li, ul {
  padding: 5px;
}

.tips-credit {
  text-align: center;
  padding: 16px 10px 10px;
  font-size: 18px;
  font-style: italic;
}
