nav {
  background-color: #F1F1F2;
  height: 18%;
  padding: 40px;
  position : fixed;
  bottom : 0;
  margin-top: 100px;
  width: 100vw;
}

#navigation-container {
  border-top: solid 3px #507DBC;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-nav, #all-nav, #browse-nav, #location-nav {
  height: 30px;
  margin: 18px;
  padding: 10px 16px;
  width: 30px;
}
